# Ignorar archivos y carpetas de Visual Studio
/Migrations/
.vs/
*.vsidx
*.vscode/
*.suo
*.user
*.cache
*.db
# Archivos generados por compilación
bin/
obj/
appsettings.json
appsettings.Development.json

# Otros
*.log
